
.card-container{
    
    background:  url("https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=358&q=80")
      no-repeat ;
    background-size: cover;
    
}

.card-contents{
    padding-top:200px;
    display:flex;
    justify-content: space-around;
}

@media(max-width:700px){

    .card-container{
    
        background:  url("https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=358&q=80")
          no-repeat ;
        background-size: cover;
        
    }
    
    .card-contents{
       padding-top:100px;
        display:flex;
        flex-direction: column;
    }
    .card-one{
        margin-bottom: 20px;
    }
}