@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

h1,h2{
  font-family: 'Uchen', serif;
}
.wrap{
    background:  url("https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=358&q=80")
          no-repeat ;
        background-size: cover;
}



